* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFFFFE;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 1.5rem 0;
}
p {
    margin-bottom: 1rem;
}

header {
    text-align: center;
}

header h1 {
    color: #E5326F;
    font-size: 30px;
    font-weight: bold;
}

.container {
    width: 100%;
    max-width: 960px;
    min-width: 300px;
    margin: 0 auto;
    padding: 2em 1em;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}